<span class="action love mdl-badge mdl-badge--no-background	mdl-badge--overlap faa-parent animated-hover <%= obj.currentLove ? 'active' : '' %> " <% if (Number(obj.love)> 0){ %>data-badge="<%= obj.love %>"<% } %> >
  <i data-userlist="<%= obj.lovelog %>" data-userlisthead="love" class="fa <%= obj.currentLove ? 'fa-heart faa-slow' : 'fa-heart-o' %> faa-pulses faa-fast" aria-hidden="true" title="<%= obj.currentLove ? 'te encanta ésto' : '¿te encanta?' %>"></i>
</span>
<span class="action mola mdl-badge mdl-badge--no-background	mdl-badge--overlap faa-parent animated-hover <%= obj.currentMola ? 'active' : '' %> " <% if (Number(obj.mola)> 0){ %>data-badge="<%= obj.mola %>"<% } %> >
  <i data-userlist="<%= obj.molalog %>" data-userlisthead="le<%= Number(obj.mola) > 1?'s':'' %> mola" class="fa <%= obj.currentMola ? 'fa-thumbs-up faa-slow' : 'fa-thumbs-o-up' %> faa-bounce" aria-hidden="true" title="<%= obj.currentMola ? 'te mola ésto' : '¿a que mola?' %>"></i>
</span>
<span class="action nomola mdl-badge mdl-badge--no-background	mdl-badge--overlap faa-parent animated-hover <%= obj.currentNomola ? 'active' : '' %> " <% if (Number(obj.nomola)> 0){ %>data-badge="<%= obj.nomola %>"<% } %> >
  <i data-userlist="<%= obj.nomolalog %>" data-userlisthead="no le<%= Number(obj.nomola) > 1?'s':'' %> mola" class="fa <%= obj.currentNomola ? 'fa-thumbs-down faa-slow' : 'fa-thumbs-o-down' %> faa-bounce" aria-hidden="true" title="<%= obj.currentNomola ? 'ésto no te mola' : '¿ésto no mola para nada?' %>"></i>
</span>
