<% if (obj.emocion) { %>
	<img class="emocion" src="<%= obj.emocion %>">
<% } %>
<div class="mdl-card mdl-shadow--4dp">
  <div class="action-icons">
  	<% if (obj.showForm){ %>
      <div class="forward"><a href="#<%= obj.INDICE.replace(/^gritos\//,'') %>/<%= obj.ID %>"><i class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></i></a></div>
      <div class="share" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></div>
  	<% } %>
  <% if (userModel.ID){ %>
    <div class="show-admin" title="admin"><i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
      <div class="admin-menu">
        <ul>
          <li><i class="fa fa-ban fa-lg js-ban" aria-hidden="true" title="spam!"></i></li>
          <% if (userModel.ID === obj.ciudadano || userModel.nivel > 7 || (headModel.Userid && headModel.Userid.split(/\|/).includes(userModel.ID))){%>
            <li><i class="fa fa-trash-o fa-lg js-delete" aria-hidden="true" title="delete"></i></li>
          <% } %>
          <% if (userModel.ID === obj.ciudadano){%>
            <li><i class="fa fa-pencil fa-lg js-edit" aria-hidden="true" title="edit"></i></li>
          <% } %>
        </ul>
      </div>
    </div>
    <% } %>
  </div>
	<div class="mdl-card__title">
		<div class="mdl-card__title-text"><%= name %></div>
		<div class="mdl-card__subtitle-text"><%= date %></div>
	</div>
	<div class="mdl-card__supporting-text">
    <% if (images.length>0 ){%>
		<div class="images-place">
			<% images.forEach(image => { %>
        <%= image %>
      <% }); %>
		</div>
    <% } else {%>
      <% images.forEach(image => { %>
        <%= image %>
      <% }); %>
    <% } %>
		<%= obj.comments %>
	</div>
	<div class="foot">
    <% if (obj.showForm && obj.tagsShown && obj.tagsShown.length > 0){ %>
			<div class="tags">
				<% obj.tagsShown.forEach((tag)=>{ %>
				<a href="#<%= tag.value %>"><%= tag.value.match(/^ciudadanos/) ? '@' : '#' %><%= tag.name %></a>
				<% }) %>
			</div>
    <% } %>
		<div class="mola-view"></div>
	</div>
</div>
<div class="minimsgs"></div>
<div class="mini-form"></div>
