<% if (obj.emocion) { %>
	<img class="emocion" src="<%= obj.emocion %>">
<% } %>
<div class="mdl-card mdl-shadow--4dp">
	<div class="forward"><a href="#<%= obj.INDICE.replace(/^gritos\//,'') %>/<%= obj.ID %>"><i class="material-icons">forward</i></a></div>
	<% if (obj.showForm){ %>
		<div class="icon material-icons share" title="share">share</div>
	<% } %>
	<div class="mdl-card__title">
		<div class="mdl-card__title-text"><%= name %></div>
		<div class="mdl-card__subtitle-text"><%= date %></div>
	</div>
	<div class="mdl-card__supporting-text">
    <% if (images.length>0 ){%>
		<div class="images-place">
			<% images.forEach(image => { %>
        <%= image %>
      <% }); %>
		</div>
    <% } else {%>
      <% images.forEach(image => { %>
        <%= image %>
      <% }); %>
    <% } %>
		<%= obj.comments %>
	</div>
	<div class="foot">
    <% if (obj.showForm && obj.tagsShown && obj.tagsShown.length > 0){ %>
			<div class="tags">
				<% obj.tagsShown.forEach((tag)=>{ %>
				<a href="#<%= tag.value %>"><%= tag.value.match(/^ciudadanos/) ? '@' : '#' %><%= tag.name %></a>
				<% }) %>
			</div>
    <% } %>
		<div class="mola"></div>
	</div>
</div>
<div class="minimsgs"></div>
<div class="mini-form"></div>
