<a href="#<%=obj.indice.replace(/^gritos\//,'')%>">
<% if (obj.tipo === 'mini' || obj.tipo === 'foro'){ %>
  <% if (obj.entry && obj.entry.name){ %>
    <%= obj.entry.name %><%= (obj.diferencia && (Number(obj.diferencia) > 1)) ? (' y ' + (Number(obj.diferencia)-1) + ' mas') : '' %> <% if(obj.diferencia === 1){ %>coment&oacute;<%}else{%>comentaron<%}%> en
  <% } else { %>
    <%= obj.diferencia %> coment&oacute; en
  <% } %>
  <% if (obj.parent){ %>
    <% if (obj.parent.ciudadano === obj.user.ID){ %>
      tu mensaje
    <% } else { %>
      el mensaje de <%= obj.parent.name %>
    <% } %>
  <% } else {%>
    un mensaje
  <% } %>
<% } %>
</a>
