<% if (obj.tipo === 'yo'){ %>
    <div class="notificaciones-dreamy">
    <% if (obj.entry && obj.entry.emocion){ %>
      <img src="<%= obj.entry.emocion %>" style="height:40px">
    <% } else { %>
      <img src="<%= obj.images.default_dreamy %>" style="height:40px"/>
    <% } %>
    </div>
    <div class="nots-text">
      <% if (obj.entry && obj.entry.name){ %>
        <%= obj.entry.name %>
        <%= (obj.diferencia && (Number(obj.diferencia) > 1)) ? (' y ' + (Number(obj.diferencia)-1) + ' m&aacute;s') : '' %>
          <%= (obj.diferencia === 1) ? ' grit&oacute;' : ' gritaron' %> en
      <% } else { %>
          <%= obj.diferencia %> grit&oacute; en
      <% } %>
      tu muro
      <div style="color:#90949c;"><%= obj.date %></div>
    </div>
  <% } else if (obj.tipo !== 'msg'){ %>
    <div class="notificaciones-dreamy">
    <% if (obj.entry && obj.entry.emocion){ %>
      <img src="<%= obj.entry.emocion %>" style="height:40px">
    <% } else { %>
      <img src="<%= obj.images.default_dreamy %>" style="height:40px"/>
    <% } %>
    </div>
    <div class="nots-text">
      <% if (obj.entry && obj.entry.name){ %>
        <%= obj.entry.name %>
        <%= (obj.diferencia && (Number(obj.diferencia) > 1)) ? (' y ' + (Number(obj.diferencia)-1) + ' m&aacute;s') : '' %>
        <% if (obj.tipo === 'foro'){ %>
          <%= (obj.diferencia === 1) ? ' grit&oacute;' : ' gritaron' %> en
        <% }else { %>
          <%= (obj.diferencia === 1) ? ' coment&oacute;' : ' comentaron' %> en
        <% } %>
      <% } else { %>
        <% if (obj.tipo === 'foro'){ %>
          <%= obj.diferencia %> grit&oacute; en
        <% }else { %>
          <%= obj.diferencia %> coment&oacute; en
        <% } %>
      <% } %>
      <% if (obj.parent){ %>
        <% if (obj.parent.ciudadano === obj.user.ID){ %>
          tu grito
        <% } else if (obj.parent.name === obj.entry.name){ %>
          su grito
        <% } else { %>
          el grito de <%= obj.parent.name %>
        <% } %>
        de <span style="font-weight: bold;"><%= obj.indiceBasic %></span>
      <% } else if(obj.indice.match(/\/\d+$/)){ %>
        un grito de <span style="font-weight: bold;"><%= obj.indiceBasic %></span>
      <% } else {%>
        <span style="font-weight: bold;"><%= obj.indiceBasic %></span>
      <% } %>
      <div style="color:#90949c;"><%= obj.date %></div>
    </div>
  <% } else if (obj.tipo === 'msg' && obj.subtipo){ %>
    <div class="notificaciones-dreamy">
      <% if (obj.citizen && obj.citizen.dreamy_principal){ %>
        <img src="<%= obj.citizen.dreamy_principal %>" style="height:40px">
      <% } else { %>
        <img src="<%= obj.images.default_dreamy %>" style="height:40px"/>
      <% } %>
    </div>
    <div class="nots-text">
      <div>
      <span>
      <% if (obj.citizen && obj.citizen.alias_principal){ %>
        <%= obj.citizen.alias_principal %>
      <% } else { %>
        Anonimo
      <% } %>
      </span>
      <%= (obj.diferencia && (Number(obj.diferencia) > 1)) ? (' y ' + (Number(obj.diferencia)-1) + ' m&aacute;s') : '' %>
      <% if (obj.subtipo === 'love'){ %>
        <i class="fa fa-heart love active" aria-hidden="true"></i>
      <% } else if (obj.subtipo === 'mola'){ %>
        <i class="fa fa-thumbs-up mola active" aria-hidden="true"></i>
      <% } else if (obj.subtipo === 'nomola'){ %>
        <i class="fa fa-thumbs-down nomola active" aria-hidden="true"></i>
      <% } %>
      <span>
      en tu <%= (obj.indice.match(/\/\d+\/\d+$/)) ? 'comentario' : 'grito' %> de <%= obj.indiceBasic %>
      </span>
      </div>
    </div>
  <% } %>
