<div contenteditable="false" class="captured-url" data-capturedurlid="<%= obj.id %>">
  <div class="capture-url-close" data-capturedurl="<%= obj.id %>">x</div>
  <% if (obj.image) { %>
    <a href="<%= obj.url %>" target="_blank">
      <img src="<%= obj.image %>" title="<%= obj.title || obj.url %>" onerror="this.onerror=null; this.src='//gritos.com/imagenes/vacio.gif';"">
    </a>
  <% } %>
  <div class="captured-url-title"><a href="<%= obj.url %>" target="_blank"><%= obj.title %></a></div>
  <% if(obj.description){ %>
    <div class="captured-url-description">
      <%= obj.description %>
    </div>
  <% } %>
</div>
