<div class="emojis-modal-body">
  <div class="emojis-modal-tabs">
    <% _.forEach(obj.list, function(category, key){ if(key !== 'modifier' && key !== 'regional'){ %>
      <span data-tab="<%= key %>" class="emoji-tab <%= key === obj.selectedCategory ? 'active': '' %>" title="<%= key %>" >
        <%= category[0].img %>
      </span>
    <% }}) %>
  </div>
  <div class="emojis-modal-content">
  <% if (obj.selectedCategory){ _.forEach(obj.list[selectedCategory], function(emoji){ %>
    <%= emoji.img %>
  <% })} %>
  </div>
</div>
