<div class="emojis-modal-body">
  <div class="emojis-modal-tabs">
    <% Object.keys(obj.list).forEach(function(key){var category = obj.list[key]; if(key !== 'modifier' && key !== 'regional'){ %>
      <span data-tab="<%= key %>" class="emoji-tab <%= key === obj.selectedCategory ? 'active': '' %>" title="<%= key %>" >
        <%= category[0].img %>
      </span>
    <% }}) %>
  </div>
  <div class="emojis-modal-content">
  <% if (obj.selectedCategory){ obj.list[selectedCategory].forEach(function(emoji){ %>
    <%= emoji.img %>
  <% })} %>
  </div>
</div>
