<div class="mdl-card mdl-shadow--4dp">
  <div class="wysiwyg-view"></div>
  <div class="dreamy" style="background-image:url('<%= obj.dreamy_principal %>')"></div>
  <div contenteditable=true placeholder="Sueltalo!" class='formularioTextArea <%= active && 'on' %>' name="comments"><%= obj.formModel.comments %></div>
  <div class="thumbs-place"></div>
  <div class="file-submit">
    <label for="file-submit<%= obj.msg ? "-" + obj.msg.INDICE + "-" + obj.msg.ID : '' %>" class="custom-file-upload"><i class="material-icons">photo_camera</i></label>
    <input type="file" id="file-submit<%= obj.msg ? "-" + obj.msg.INDICE + "-" + obj.msg.ID : '' %>" title="choose a file to upload" name="FICHERO_IMAGEN1" multiple>
  </div>
  <div class="emojis"><%= obj.emojis %></div>
  <div class="form-submit">
    <button class="form-submit-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Grita
    </button>
  </div>
  <div class="emojis-modal-place"></div>
  <% if (!obj.msg){ %>
    <div class="tags-place">
      <i class="material-icons show-tags" style="cursor: pointer; transform:rotate(180deg);" >label_outline</i>
      <ul style=<%=obj.tagPlaceShown ? "display:block;" : "display:none;" %>>
        <% if (obj.tags){%>
          <% for(var i =0; i < obj.tags.length; i++){ %>
          <li>
            <span class="mdl-chip mdl-chip--deletable">
              <span class="mdl-chip__text"><%=obj.tags[i]%></span>
              <button type="button" class="mdl-chip__action" data-delete-tag=<%= i %>><i class="material-icons">cancel</i></button>
            </span>
          </li>
          <% } %>
        <% } %>
        <% if (!obj.tags || obj.tags.length < 5){%>
        <li>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input input-tag" type="text" id="newtag<%= obj.msg ? "-" + obj.msg.INDICE + "-" + obj.msg.ID : '' %>">
            <label class="mdl-textfield__label" name="tag" for="newtag<%= obj.msg ? "-" + obj.msg.INDICE + "-" + obj.msg.ID : '' %>">Tag</label>
          </div>
        </li>
        <% } %>
      </ul>
    </div>
  <% } %>
</div>
