<% if (obj.isHead && obj.formModel.INDICE === 'gritosdb'){ %>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="name" value="<%= obj.formModel.Name %>" disabled>
    <label class="mdl-textfield__label" for="name">Tema</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="titulo" value="<%= obj.formModel.Titulo %>">
    <label class="mdl-textfield__label" for="titulo">Titulo</label>
  </div>
<% } %>
<div class="mdl-card mdl-shadow--4dp">
  <div class="wysiwyg-view"></div>
  <% if (!obj.isHead){ %>
    <% if (obj.formModel.emocion ){ %>
      <div class="dreamy" style="background-image:url('<%= obj.formModel.emocion %>')" title="selecciona tu dreamy para el grito"></div>
    <% } else if (obj.dreamy_principal ){ %>
      <div class="dreamy" style="background-image:url('<%= obj.dreamy_principal %>')" title="selecciona tu dreamy para el grito"></div>
    <% } else { %>
      <div class="dreamy"><img src="<%= obj.default_dreamy %>" width="50" height="50" title="selecciona tu dreamy para el grito"></div>
    <% } %>
  <%}%>
  <div contenteditable=true placeholder="<%= obj.isHead ? 'Introduccion' : !obj.parentModel ? (obj.titulo_head ? obj.titulo_head : 'Sueltalo!') : 'hmmm...' %>" class='formularioTextArea <%= active && 'on' %>' name="comments"><%= obj.formModel.comments || obj.formModel.INTRODUCCION %></div>
  <div class="thumbs-place"></div>
  <div class="file-submit">
    <label for="file-submit<%= obj.parentModel ? "-" + obj.parentModel.INDICE + "-" + obj.parentModel.ID : '' %>" class="custom-file-upload"><i class="material-icons">photo_camera</i></label>
    <input type="file" id="file-submit<%= obj.parentModel ? "-" + obj.parentModel.INDICE + "-" + obj.parentModel.ID : '' %>" title="choose a file to upload" name="FICHERO_IMAGEN1" <%= obj.isHead?'':'multiple'%>>
  </div>
  <% if (!obj.isHead){ %>
  <div class="emojis"><%= obj.emojis %></div>
  <%}%>
  <div class="form-submit">
    <button class="form-submit-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Grita
    </button>
  </div>
  <div class="emojis-modal-place"></div>
  <% if (!obj.parentModel && !obj.isHead){ %>
    <div class="tags-place">
      <i class="material-icons show-tags" style="cursor: pointer; transform:rotate(180deg);" >label_outline</i>
      <ul style=<%=obj.tagPlaceShown ? "display:block;" : "display:none;" %>>
        <% if (obj.tags){%>
          <% for(var i =0; i < obj.tags.length; i++){ %>
          <li>
            <span class="mdl-chip mdl-chip--deletable">
              <span class="mdl-chip__text"><%=obj.tags[i]%></span>
              <button type="button" class="mdl-chip__action" data-delete-tag=<%= i %>><i class="material-icons">cancel</i></button>
            </span>
          </li>
          <% } %>
        <% } %>
        <% if (!obj.tags || obj.tags.length < 5){%>
        <li>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input input-tag" type="text" id="newtag<%= obj.parentModel ? "-" + obj.parentModel.INDICE + "-" + obj.parentModel.ID : '' %>">
            <label class="mdl-textfield__label" name="tag" for="newtag<%= obj.parentModel ? "-" + obj.parentModel.INDICE + "-" + obj.parentModel.ID : '' %>">Tag</label>
          </div>
        </li>
        <% } %>
      </ul>
    </div>
  <% } %>
</div>
