@import './tipr.less';
@import "../../node_modules/font-awesome/less/font-awesome.less";
@import "../../node_modules/bootstrap/less/bootstrap.less";
// @import 'oscuro.less';
@import 'font-awesome-animation.css';
@import 'googlefonts.less';
@import 'material.light_green-red.min.css';
@import 'slick.css';
@import 'slick-theme.css';

@font-face {
  font-family: 'newdreamers';
  src: url('../fonts/newdreamers.eot');/* EOT file for IE */
  src: local('?'),
    url('../fonts/newdreamers.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('../fonts/newdreamers.ttf') format('truetype'); /* TTF file for CSS3 browsers */
}

.newdreamers{
  font-family: newdreamers!important;
  text-transform: lowercase;
}
html{
  font-size: 14px;
}
body{
  font-family: 'Open Sans', sans-serif!important;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
}
span[data-link]{
  cursor: pointer;
}
.main{
  header{
    &.ciudadano{
      background-color:rgb(195, 80, 74);
      .alias-principal,.desplegable{
        color: white;
      }
    }
  }
}
@media (max-width: 680px) {
  .main{
    .mdl-layout__header-row{
      padding: 0;
    }
  }
}
div.titulo{
  font-family: newdreamers;
  // text-transform: lowercase;
  font-size: xx-large;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.32);
  color: white;
  width: 80%;
  text-align: center;
  padding-left: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 10 0px;
  line-height: 1.5;
  a{
    text-decoration: none;
    color:white;
  }
}
.main{
  a{
    color: rgb(120, 101, 101);
  }

  .mdl-card__supporting-text{
    color: rgba(0,0,0,.8);
  }
  .mdl-layout__drawer>.mdl-layout-title{
    line-height: 34px;
    padding-left: 40px;
    padding: 20px 20px 20px 40px;
  }
}

.mdl-layout__content{
  background-color: rgba(195, 169, 74, 0.15);
  // background-color: rgba(139, 195, 74, 0.05);
}
.content{
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  position: relative;
  .foro-admin{
    position: absolute;
    top: 0;
    margin: 10px;
    left: 0;
    color: darkred;
    cursor: pointer;
    z-index: 1;
  }
  button.new-msg{
    position: fixed;
    z-index: 2;
    bottom: 20px;
    right: 20px;
  }
}
.foro-description{
  &.mdl-card {
    margin-bottom: 20px;
    width: 100%;
    min-height: 50px;
    background-color: white;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
  }
  &.ciudadano{
    background-color: #C3504A;
  }
  &.conimagen{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    min-height: 200px;
    display: block;
    position: relative;
    width: 100%;
    .dreamy{
      float:left;
      width: 100px;
      height: 100px;
    }
    .description{
      margin-left: 100px;
      width: 100%;
      height: 200px;
      padding-right: 100px;
    }
    div.table{
      display: block;
      position: relative;
      height: 100%;
    }
    div.collumn{
      display: table-column;
    }
    div.bottom-row{
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .texto-introduccion{
      color: white;
      text-shadow: 1px 1px 1px #000;
      // background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(250,255,247,1) 48%);
      // background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(250,255,247,1) 48%);
      // background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(250,255,247,1) 48%);
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#fafff7',GradientType=0 );
      bottom: 0;
      position: relative;
      padding: 16px;
      width: 100%;
    }
  }
  &.sinimagen{
    min-height: 50px;
    .description{
      height: 100px;
    }
  }

}
.msg-list{
  margin-top: 20px;
  .minimsgs{
    .msg{
      margin-left: 50px;
      margin-bottom: 0;
      .mdl-card{
        .mdl-card__supporting-text{
          padding-bottom: 24px;
        }
      }
      .foot {
        display: block;
        width: 120px;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .mini-form{
    position: relative;
    margin-left: 50px;
    margin-bottom: 0;
    .formulario{
      padding: 0;
      .form-submit{
        display: none;
      }
      .file-submit{
        right: 10px;
        bottom: 30px;
      }
      .mdl-card{
        padding-right: 50px;
        min-height: initial;
      }
      .emojis{
        right: 12px;
        left: initial;
        bottom: 12px;
      }
    }
  }
  .msg{
    margin-bottom: 20px;
    position: relative;
    .rabito{
      position: absolute;
      left: 60px;
      background-image: url('../img/rabito.gif');
      width: 134px;
      height: 16px;
      opacity: 0.25;
    }
    .spoiler{
      display: inline-block;
      cursor: pointer;
      font-weight: bold;
    }
    .emocion{
      position: absolute;
      z-index: 2;
      width: 50px;
      height: 50px;
      margin: 10px;
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: none;
      border-image-width: 0;
    }
    .mdl-card {
      // position: relative;
      // margin-left: 50px;
      width: 100%;
      z-index: initial;
      min-height: 100px;
      overflow: initial; // importante para spoilers
      .mdl-card__supporting-text{
        // max-height: 500px;
        overflow-y: auto;
        width: auto;
        a{
          text-decoration: underline;
        }
      }
      .mdl-card__title{
        display: block;
        padding-bottom: 0;
        margin-left: 50px;
        margin-bottom: 5px;
        .mdl-card__title-text{
          font-size: 14px;
        }
        .mdl-card__subtitle-text{
          font-size: 10px;
        }
      }
    }
    .foot{
      display: table;
      width: 100%;
      .mola-view{
        text-align: right;
        margin: 0px 10px;
        color: hsl(211, 15%, 53%);
        white-space: nowrap;
        // opacity: 0.5;
        font-size: 10px;
        span.action{
          margin:0;
          padding: 5px;
          cursor: pointer;
          font-size: 18px;
          &:hover{
            color: hsl(211, 15%, 35%);
          }
          &.active{
            color: rgba(46, 121, 29, 0.6);
            &:hover{
              color: rgba(46, 121, 29, 0.9);
            }
            // opacity: 1;
          }
          &.inactive{
            // opacity: 0.5;
          }
        }
        span{
          width: 24px;
          display: inline-block;
          margin-right: 1px;
        }

      }
      .tags{
        padding: 10px;
        text-decoration: none;
        display: table-cell;
        font-size: 10pt;
        color: rgb(119, 122, 153);
        a{
          text-decoration: none;
        }
      }
    }
  }
}
.action-icons{
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 14px;
  line-height: 24px;
  margin-right: 5px;
  >div{
    display: inline-block;
    padding: 5px 6px;
  }
  i{
    color: lightslategray;
  }
  .forward{
    cursor: pointer;
    &:hover{
      background-color: #EEEEEE;
    }
  }
  .share{
    cursor: pointer;
    &:hover{
      background-color: #EEEEEE;
    }
  }
  .show-admin{
    cursor: pointer;
    &:hover{
      background-color: #EEEEEE;
    }
  }
  .share-menu{
    right: 28px;
  }
  .admin-menu{
    right: 0;
  }
  .admin-menu,.share-menu{
    display: none;
    position: absolute;
    width: 25px;
    top: 29px;
    z-index: 2;
    &.active{
      display: block;
    }
    ul{
      padding: 0;
      margin: 0;
      li{
        padding: 0;
        list-style: none;
        margin: 0;
        text-align: center;
        cursor: pointer;
        background-color: white;
        &:hover{
          background-color: #EEEEEE;
        }
      }
    }
  }
}
.videodelimitador {
  max-width: 560px;
  margin: auto;
}
.videocontenedor {
  height: 0px;
  width: 100%;
  max-width: 560px;
  padding-top: 56.25%;
  /* RelaciÃ³n: 16/9 = 56.25%; */
  position: relative;
  iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
  }
}
iframe {
  display: block;
  width: 100%;
  border: none;
}

@import "tipr.less";

.login-view{
  .dreamy{
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
  }
  ul.login-menu {
    width: 335px;
    position: absolute;
    top: 55px;
    right: 20px;
    padding: 20px;
    background: #FAFCF6;
    z-index: 3;
    &.short{
      width: auto;
      height: auto;
      min-height: auto;
      .logout{
        cursor: pointer;
        display: inline-block;
        word-spacing: initial;
      }
    }
    li{
      list-style: none;
    }
    .sign-up{
      display: block;
      margin-top: 20px;
      button{
        width: 100%;
        text-align: left;
        .fa{
          margin-right: 10px;
        }
      }
    }
    .error-login{
      border: 1px solid red;
      color: red;
      display: none;
      padding: 5px;
      text-align: center;
      margin-top:5px;
      &.active{
        display: block;
      }
    }
  }
  .mdl-menu__item{
    line-height: initial;
  }
  .fb-login{
    height: 42px;
    color: white;
    background-color: #3a5795;
    border-radius: 5px;
    padding: 0px 0 0 0;
    margin: 20px 0 10px;
    line-height: 40px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    cursor: pointer;
    &:hover{
      background-color: #435B8D;
    }
    .fa-facebook-official{
      margin-left: 12px;
      margin-top: 5px;
    }
    span{
      vertical-align: top;
      margin: 0 10px;
    }
  }
}

.fblogo {
  background: #4661b0;
  text-indent: -999em;
  width: 33px;
  height: 36px;
  border-radius: 1px;
  position: absolute;
  overflow: hidden;
  border: 5px solid #4661b0;
  border-bottom: 0;
  border-radius: 5px;
}
.fblogo:before {
  content: "/20";
  position: absolute;
  background: #4661b0;
  width: 13px;
  height: 30px;
  bottom: -10px;
  right: -12px;
  border: 6px solid white;
  border-radius: 8px;
}

.fblogo:after {
  content: "/20";
  position: absolute;
  width: 18px;
  top: 17px;
  height: 6px;
  background: white;
  right: 1px;
}
.logomask{
  display: inline-block;
  img{
    position: relative;
    cursor: pointer;
    display:block;
    width:50px;
    height: 50px;
    text-align:center;
    margin: 0px auto;
    background: ;
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,.5));
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-position: -110px 0;
    &:hover,
    &:focus{
      background-position: 10px 0;
      transition: all 1s;
    }
    &::after{
      content:'';
      position: absolute;
      pointer-events: none;
      top:0; left:0; right:0px; bottom: 0;
      background: radial-gradient(0 0,circle farthest-side, rgba(255,255,255,0) 80%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
      background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 80%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
      background-position: inherit;
      -webkit-mask: url('../img/logo50x50.gif') center;
      mask: url('#logomask-firefox');
      width: 100px;
      height: 100px;
    }
  }
}
.spinner-main{
  position: fixed;
  z-index: 1000;
  bottom: 70px;
  right: 10px;
  margin: 20px;
  .spin{
    -webkit-animation: spin 1s infinite linear;
    color: rgb(139,195,74);
  }
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@-moz-keyframes spin {
  from { -moz-transform: rotate(360deg); }
  to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(360deg); }
  to { -webkit-transform: rotate(0deg); }
}
@keyframes spin {
  from {transform:rotate(360deg);}
  to {transform:rotate(0deg);}
}


.wysiwyg {
  border: 1px solid gray;
  width: auto;
  font-size: 10pt;
  color: white;
  font-family: verdana, arial, helvetica;
  border-radius: 3px;
  padding: 2px;
  position: absolute;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  background-color: darkkhaki;
  line-height: 16px;
  z-index: 3;
  top:0;
  a{
    text-decoration: none;
    color: white;
    padding: 0px 4px;
    cursor: pointer;
    &:hover{
      text-shadow: 1px 1px 1px grey;
    }
  }
}
.formulario{
  padding: 20px 0 20px 0;
  max-width: 960px;
  display: none;
  .dreamy{
    cursor: pointer;
    opacity: .8;
    &:hover{
      border: 1px dashed #8ac34a;
      opacity: 1;
    }
  }

  &.active{
    display: block;
  }
  input[type="file"]{
    display: none;
  }
  .thumbs-place {
    img {
      border: 4px dashed darkkhaki;
      margin: 5px 5px;
    }
  }
  .tags-place{
    position: absolute;
    left: 121px;
    bottom: 50px;
    color: darkkhaki;
    i{
      cursor: pointer;
      transform: rotate(180deg);
      &:hover{
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(2);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(2);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(2);
        transition: all 200ms ease-in;
        transform: scale(2) rotate(180deg);
        z-index: 2;
      }
    }
    .show-tags{
      position: absolute;
      right: -24px;
      top: 0;
    }
    ul{
      position: absolute;
      background: aliceblue;
      border: 1px solid darkkhaki;
      margin: 0;
      padding: 2px 5px 2px 10px;
      top: 24px;
      white-space: nowrap;
      border-radius: 10px;
      li{
        list-style: none;
        display: inline-block;
        padding: 0 1px 0 10px;
        font-size: smaller;
        color: #7f7f7f;
        max-width: 150px;
        span{
          // padding: 0px 7px;
          // position: relative;
          // background: #d5d5d5;
          // border: 1px solid #bdb76b;
          // border-radius: 3px;
          // &:after, &:before {
          // 	right: 100%;
          // 	top: 50%;
          // 	border: solid transparent;
          // 	content: " ";
          // 	height: 0;
          // 	width: 0;
          // 	position: absolute;
          // 	pointer-events: none;
          // }
          // &:after {
          // 	border-color: rgba(213, 213, 213, 0);
          // 	border-right-color: #d5d5d5;
          // 	border-width: 7px;
          // 	margin-top: -7px;
          // }
          // &:before {
          // 	border-color: rgba(189, 183, 107, 0);
          // 	border-right-color: #bdb76b;
          // 	border-width: 8px;
          // 	margin-top: -8px;
          // }
        }
      }
    }
  }
  .emojis{
    display: block;
    position: absolute;
    bottom: 26px;
    left: 90px;
    cursor: pointer;
    img{
      width: 24px;
      height: 24px;
    }
  }
  .custom-file-upload {
    display: inline-block;
    padding: 2px;
    cursor: pointer;
    i{
      color:rgba(0, 100, 0, 0.51);
      &:hover{
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(2);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(2);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(2);
        transition: all 200ms ease-in;
        transform: scale(2);
        z-index: 2;
      }
    }
  }
  .mdl-card{
    padding: 20px 40px 20px 60px;
    width: auto;
    min-height: 50px;
    overflow: initial;
    // position: relative;
  }
  .file-submit{
    display: block;
    position: absolute;
    bottom: 14px;
  }
  button.mdl-button{
    margin-top: 10px;
  }
  .dreamy{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 15px;
    border: 1px solid aliceblue;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
  }
}

.formularioTextArea{
  width: 100%;
  margin: 0;
  overflow: auto;
  font-family: verdana, arial, helvetica;
  font-size: 1rem;
  padding: 5px 10px;
  border: 1px solid lightblue;
  cursor: text;
  border-left: 0;
  border-top: 0;
  border-radius: 5px;
  color:#ccc;
  max-height: 400px;
  &.on {
    min-height: 50px;
    color:initial;
    background-color: rgb(250, 250, 250);
  }
  a{
    text-decoration: underline;
  }
}
.form-submit{
  text-align: right;
}
#formSubmit {
  // background: green;
  // width: 38px;
  // font-family: newdreamers;
  // color: white;
  // padding: 4px;
  // text-align: center;
  // border-radius: 5px;
  // border: 1px solid darkslateblue;
  // margin: 5px;
  // font-size: 12px;
  // float: right;
  // cursor: pointer;
}
.emojis-modal-place{
  position: relative;
}
.emojis-modal{
  position: absolute;
  background: white;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 10px;
  // max-height: 110px;
  // overflow: scroll;
  z-index: 2;
  img.emojione{
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .emojis-modal-tabs{
    line-height: 30px;
    .emoji-tab{
      border: 1px solid darkkhaki;
      border-radius: 3px;
      padding: 1px;
      padding: 5px;
      margin: 0 3px;
      background-color: white;
      position: relative;
      cursor: pointer;
      &.active{
        border-bottom: 0;
      }
    }
  }
  .emojis-modal-content{
    max-height: 88px;
    overflow-y: scroll;
    border: 1px solid darkkhaki;
    padding: 10px;
  }
}
img.emojione{
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  &:hover{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(2);
    transition: all 200ms ease-in;
    transform: scale(2);
    z-index: 2;
  }
}
div[contenteditable = true]:empty:before{
  color:#ccc;
  content: attr(placeholder);
  display: block; /* For Firefox */
}
.msg-img{
  // max-height: 292px;
  background-size: contain;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  width: 100%;
  img{
    width: 100%;
  }
}

@media (max-width: 680px) {
  .msg-img{
    max-height: initial;
  }
}
.msg-img-vertical{
  width: 100%;
  // max-width: 350px;
  // max-height: 520px;
  background-size: cover;
  margin: 0 10px 10px 0;
  float: left;
  img{
    width: 100%;
  }
}
@media (max-width: 680px) {
  .msg-img-vertical {
    // max-height: 292px;
    background-size: contain;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    width: 100%;
  }
}
.images-place{
  margin: 0 20px 10px;
  .slick-prev:before, .slick-next:before{
    color:initial;
  }
}
@media (max-width: 680px) {
  .images-place{
    margin: 0;
  }
}
.mdl-layout__header-row .mdl-navigation__link{
  &.notificaciones-view{
    padding: 0;
  }
}
.notificaciones-view{
  .notis-icon{
    opacity: 0.5;
    &.active{
      opacity: 1;
      cursor: pointer;
    }
  }
  .notificaciones-collection-view{
    display: none;
    position: absolute;
    // width: 200px;
    max-height: 300px;
    max-width: 300px;
    right: 0;
    &.active{
      display: block;
    }
    ul{
      background-color: white;
      width: initial;
      padding: 5px 10px;
      li{
        cursor: pointer;
        line-height: 16px;
        font-size: 12px;
        list-style-type: none;
        min-height: 40px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        box-sizing: content-box;
        box-shadow: 0px 1px 1px -1px rgba(125, 120, 120, 0.84);
        &:hover{
          background-color: rgba(0, 0, 0, 0.05);
        }
        a{
          text-decoration: none;
        }
        .nots-text{
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 40px;
          min-height: 40px;
          word-wrap: break-word;
        }
      }
    }
  }
}
.hide{
  display: none;
}
.modal-back{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .2);
  z-index: 10;
  .modal-modal{
    color: slategray;
    position: relative;
    min-height: 200px;
    margin: 100px auto;
    background-color: white;
    max-width: 600px;
    &.lite{
      max-width: 400px;
    }
    .modal-header{
      width: 100%;
      height: 60px;
      h3{
        font-weight: bold;
        margin: 0;
        text-align: center;
        font-family: newdreamers;
      }
      .modal-close{
        color: lightslategray;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        margin: 8px 10px;
      }
    }
    .modal-body{
      width: 100%;
      min-height: 90px;
      text-align: center;
      display: block;
      justify-content: center; /* align horizontal */
      align-items: center;
      span{
        vertical-align: middle;
      }
      .formulario{
        width: 100%;
        .mdl-card{
          box-shadow: initial;
          margin-bottom: 0;
          .form-submit{
            height: 46px;
            .form-submit-button{
              display: none;
            }
          }
        }
      }
    }
    .modal-footer{
      height: 50px;
      width: 100%;
      background-color: rgba(0, 0, 0, .05);
      text-align: center;
      padding: 8px;
    }
  }
}

.avisos-view{
  position: absolute;
  z-index: 2;
  .avisos-main{
    border-radius: 50px;
    background-color: grey;
    top: 75px;
    left: 5px;
    position: absolute;
    white-space: nowrap;
    color: white;
    padding: 2px 10px;
    cursor: pointer;
    a{
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
}

nav.resumen-collection{
  &.mdl-navigation{
    .mdl-navigation__link{
      padding: 5px 40px;
    }
  }
  .nuevo-tema{
    margin: 5px 40px;
    width: auto;
  }
}
h6.resumen-subheader{
  padding: 5px 40px;
}

.previous-minimsgs {
    background-color: white;
    position: relative;
    margin-left: 50px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    text-align: center;
    &.load-previous{
      cursor: pointer;
    }
}
.rabito-css{ // this is only a test
  &:before{
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    border-radius: 0 45px;
    top: 30px;
    left: -6px;
    border: solid transparent;
    border-color: rgba(117, 136, 148, 0);
    border-right-color: #fdfeff;
    border-width: 36px;
    margin-top: -36px;
    transform: rotate(300deg);
    z-index: -1;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  }
}

///////////////
// To fix that address bar in chrome mobile doesn't dissapear
.mdl-layout {
    overflow: visible;
}
.mdl-layout__drawer {
    position: fixed;
}
.mdl-layout__content {
    display: block;
    overflow: visible;
    margin-top: 64px;
}
.is-small-screen .mdl-layout__content {
    margin-top: 56px;
}
.mdl-layout__header {
    position: fixed;
}
.mdl-layout__obfuscator {
    position: fixed;
}
////////////////////////
.captured-url{
  position: relative;
  max-width: 100%;
  min-width: 49%;
  display: inline-block;
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, .1) inset, 0 1px 1px rgba(0, 0, 0, .05);
  // border: 1px dashed #658e35;
  padding: 10px 10px;
  margin: 10px 0 5px;
  max-height: 180px;
  a{
    text-decoration: none;
  }
  img{
    // max-width: 50%;
    max-height: 150px;
    margin: 0 10px 0 0;
    float: left;
  }
  .captured-url-title{
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
    font-size: 1rem;
    color: #333333;
  }
  .captured-url-description{
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px;
    color: #333333;
    font-size: 0.85rem;
    opacity: 0.65;
  }
  .capture-url-close{
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: #b5b5b5;
    top: -9px;
    right: -7px;
    background: white;
    border-radius: 50%;
    padding: 0px 0px 0px 4px;
    border: 1px solid #c1c0c0;
    width: 20px;
    height: 20px;
    line-height: 15px;
    opacity: 0.5;
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
  }

}

.fa-spin-fast {
 -webkit-animation: fa-spin 0.6s infinite linear !important;
 animation: fa-spin 0.6s infinite linear !important;
}


// img{
//   opacity: 1;
//   transition: opacity 0.3s;
//   &.js-lazy-image{
//     opacity: 0;
//   }
//   &.js-lazy-image--handled{
//     opacity: 1;
//   }
// }
.fade-in {
  animation-name: fadeIn;
  animation-duration: 1.3s;
  animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.error-form{
  color: red;
  border: 1px dashed red;
  border-radius: 10px;
  margin-top: -10px;
  background-color: #f9f3f3;
  font-size: small;
  display: none;
  max-width: 300px;
  margin-left: 34px;
  padding: 2px 8px;
  &.active{
    display: block;
  }
}
.valid-alias, .valid-email, .valid-password{
  color: green;
  border: 1px dashed green;
  border-radius: 10px;
  margin-top: -10px;
  background-color: #f9f3f3;
  font-size: small;
  display: none;
  max-width: 300px;
  margin-left: 34px;
  padding: 2px 8px;
  &.active{
    display: block;
  }
}
.valid-alias-load, .valid-email-load, .valid-submit-load{
  color: green;
  border: 1px dashed green;
  border-radius: 10px;
  margin-top: -10px;
  background-color: #f9f3f3;
  font-size: small;
  display: none;
  max-width: 300px;
  margin-left: 34px;
  padding: 2px 8px;
  &.active{
    display: block;
  }
}
.sign-up-modal{
  button{
    margin: 20px 0;
  }
}
.loader{
  display: none;
  &.active{
    display: block;
  }
}
.dreamys-container{
  max-height: 240px;
  overflow: auto;
}

.select-dreamy{
  cursor: pointer;
  &:hover{
    box-shadow: #ffd600 0px 0px 5px 2px inset;
  }
}

.upload-dreamy{
  display: inline-block;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  padding: 15px;
  cursor: pointer;
  overflow: hidden;
  vertical-align: top;
  box-shadow: #884949 0px 0px 11px 1px inset;
  &:hover{
    box-shadow: #ffd600 0px 0px 5px 2px inset;
  }
  i{
    cursor: pointer;
    &:hover{
      text-shadow: 1px 1px 1px black;
    }
  }
  input[type="file"]{
    display: none;
  }
  .loading{
    display: none;
    width: 70px;
    height: 70px;
  }
  &.loading{
    .loading{
      display: block;
    }
  }
}
.notificaciones-dreamy{
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}
.imagen-modal{
  display: none;
  position: absolute;
  z-index: 2;
  top: 1px;
  padding: 10px;
  background: white;
  box-shadow: 10px 10px 50px -10px black;
  margin: 70px 30px;
  &.active{
    display: block;
  }
}
.img-hover{
  cursor: pointer;
}

.gallery{
  .gallery-entry{
    position: relative;
    display: inline-block;
    width: 30%;
    margin: 1.5%;
    background-color: white;
    padding: 1%;
    box-shadow: 1px 1px 3px -2px black;
    &:hover{
      .action-icons{
        opacity: 1;
      }
    }

    .action-icons{
      opacity: 0;
      transition: all 1s;
      &:hover{
        opacity: 1;
        i{
          color: #8edb70;
        }
      }
      .forward{
        &:hover {
          background-color: initial;
        }
      }
    }
    .img-gallery{
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      padding-top: 100%;
      background-position: center;
      cursor: pointer;
    }
  }
}
@media (max-width: 1120px) {
  .right-side{
    position: absolute;
    display: block;
    right: 0;
    z-index: 2;
    width: 50px;
    height: 30px;
    overflow: hidden;
  }
}
@media (min-width: 1120px) {
  .right-side{
    position: relative;
    float: right;
    display: block;
  }
}

.right-side{
  background: white;
  box-shadow: 0px 0px 8px -3px black;
  margin: 20px;
  &.inactive{
    display: none;
  }
  .right-side-head{
    font-family: newdreamers, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: .9rem;
    padding: 5px;
    span{
      cursor: pointer;
    }
  }
  .gallery-thumbnail{
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    img{
      cursor: pointer;
    }
    .gotogallery{
      max-width: 100px;
      max-height: 100px;
    }
  }
}
