<% if (obj.alias_principal){ %>
	<%= obj.alias_principal %>
<%} else {%>
	Log In
	<button class="login-menu-button mdl-button mdl-js-button mdl-button--icon">
	  <i class="material-icons">power_settings_new</i>
	</button>

	<ul class="login-menu hidden mdl-card mdl-shadow--4dp">
		<form id='login-form'>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="loginAlias">
				<label class="mdl-textfield__label" for="loginAlias">Alias/email</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="loginPassword">
				<label class="mdl-textfield__label" for="loginPassword">Password</label>
			</div>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id='loginSubmit'>
				entrar
			</button>
		</form>
		<div class='fb-login'><i class="fblogo">Facebook</i><span>facebook log in</span></div>
	</ul>

<% } %>
