<% if (obj.emocion) { %>
	<img class="emocion" src="<%= obj.emocion %>">
<% } %>
<div class="mdl-card mdl-shadow--4dp">
	<% if (obj.showForm){ %>
		<div class="icon material-icons share" title="share">share</div>
	<% } %>
	<div class="mdl-card__title">
		<div class="mdl-card__title-text"><%= name %></div>
		<div class="mdl-card__subtitle-text"><%= date %></div>
	</div>
	<div class="mdl-card__supporting-text">
		<% if (obj.IMAGEN1_URL){ %>
			<div class="<% if (obj.IMAGEN1_ancho<obj.IMAGEN1_alto){ %>msg-img-vertical<% } else { %>msg-img<% } %>" style="background-image:url('<%= obj.IMAGEN1_URL %>');"></div>
		<% } %>
		<%= obj.comments %>
	</div>
	<div class="foot">
    <% if (obj.showForm){ %>
			<div class="tags"><%= tags %></div>
    <% } %>
		<div class="mola"></div>
	</div>
</div>
<div class="minimsgs"></div>
<div class="mini-form"></div>
